<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Multipage Blog Website</title>
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/styles.css"/>
    <!-- Iconscout CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="container nav_container">
            <a href="/index.html" class="nav_logo">VAL.ART~Solution</a>
            <ul class="nav_items">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <!-- <li><a href="signin.html">Signin</a></li> -->
                <li class="nav_profile">
                    <div class="avatar">
                        <img src="/images/logo.jpg" alt="">
                    </div>
                    <ul>
                        <li><a href="views/admins/dashboard.html">Dashboard</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <button id="open_nav-btn"><i class="uil uil-bars"></i></button>
            <button id="close_nav-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <!-- ======================================  Recherche  =================================================== --> 
    <section class="search_bar">
        <form action="" class="container search_bar-container">
            <div>
                <i class="uil uil-search"></i>
                <input type="search" name="" placeholder="Search">
                <button type="submit" class="btn">Go</button>
            </div>
        </form>
    </section>

    <!-- ======================================  POSTS  =================================================== --> 
    <section class="posts">
        <div class="container posts_container">
            <article class="post">
                <div class="post_thumbail">
                    <img src="/images/post_picture.PNG" alt="">
                </div>
                <div class="post_info">
                    <a href="" class="cotegory_button">Wild Life</a>
                    <h3 class="post_title">
                        <a href="post.html">Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog</a>
                    </h3>
                    <p class="post_body">
                        Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog, que ce soit pour trouver des idées ou optimiser les textes pour le SEO. Aujourd’hui, nous avons décidé d’aborder un autre type de rédaction: celle d’une page web. Comme il y a de fortes chances que vous avez à écrire le texte des pages de votre site web, laissez-nous vous donner quelques astuces pour créer du contenu à la fois pertinent et attrayant. 
                    </p>
                    <div class="post_author">
                        <div class="post_author-avatar">
                            <img src="/images/author_picture.jpg" alt="">
                        </div>
                        <div class="post_author-info">
                            <h5>By: Val Art</h5>
                            <small>June 13 2024</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post_thumbail">
                    <img src="/images/post_picture.PNG" alt="">
                </div>
                <div class="post_info">
                    <a href="" class="cotegory_button">Wild Life</a>
                    <h3 class="post_title">
                        <a href="post.html">Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog</a>
                    </h3>
                    <p class="post_body">
                        Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog, que ce soit pour trouver des idées ou optimiser les textes pour le SEO. Aujourd’hui, nous avons décidé d’aborder un autre type de rédaction: celle d’une page web. Comme il y a de fortes chances que vous avez à écrire le texte des pages de votre site web, laissez-nous vous donner quelques astuces pour créer du contenu à la fois pertinent et attrayant. 
                    </p>
                    <div class="post_author">
                        <div class="post_author-avatar">
                            <img src="/images/author_picture.jpg" alt="">
                        </div>
                        <div class="post_author-info">
                            <h5>By: Val Art</h5>
                            <small>June 13 2024</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post_thumbail">
                    <img src="/images/post_picture.PNG" alt="">
                </div>
                <div class="post_info">
                    <a href="" class="cotegory_button">Wild Life</a>
                    <h3 class="post_title">
                        <a href="post.html">Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog</a>
                    </h3>
                    <p class="post_body">
                        Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog, que ce soit pour trouver des idées ou optimiser les textes pour le SEO. Aujourd’hui, nous avons décidé d’aborder un autre type de rédaction: celle d’une page web. Comme il y a de fortes chances que vous avez à écrire le texte des pages de votre site web, laissez-nous vous donner quelques astuces pour créer du contenu à la fois pertinent et attrayant. 
                    </p>
                    <div class="post_author">
                        <div class="post_author-avatar">
                            <img src="/images/author_picture.jpg" alt="">
                        </div>
                        <div class="post_author-info">
                            <h5>By: Val Art</h5>
                            <small>June 13 2024</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post_thumbail">
                    <img src="/images/post_picture.PNG" alt="">
                </div>
                <div class="post_info">
                    <a href="" class="cotegory_button">Wild Life</a>
                    <h3 class="post_title">
                        <a href="post.html">Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog</a>
                    </h3>
                    <p class="post_body">
                        Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog, que ce soit pour trouver des idées ou optimiser les textes pour le SEO. Aujourd’hui, nous avons décidé d’aborder un autre type de rédaction: celle d’une page web. Comme il y a de fortes chances que vous avez à écrire le texte des pages de votre site web, laissez-nous vous donner quelques astuces pour créer du contenu à la fois pertinent et attrayant. 
                    </p>
                    <div class="post_author">
                        <div class="post_author-avatar">
                            <img src="/images/author_picture.jpg" alt="">
                        </div>
                        <div class="post_author-info">
                            <h5>By: Val Art</h5>
                            <small>June 13 2024</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post_thumbail">
                    <img src="/images/post_picture.PNG" alt="">
                </div>
                <div class="post_info">
                    <a href="" class="cotegory_button">Wild Life</a>
                    <h3 class="post_title">
                        <a href="post.html">Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog</a>
                    </h3>
                    <p class="post_body">
                        Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog, que ce soit pour trouver des idées ou optimiser les textes pour le SEO. Aujourd’hui, nous avons décidé d’aborder un autre type de rédaction: celle d’une page web. Comme il y a de fortes chances que vous avez à écrire le texte des pages de votre site web, laissez-nous vous donner quelques astuces pour créer du contenu à la fois pertinent et attrayant. 
                    </p>
                    <div class="post_author">
                        <div class="post_author-avatar">
                            <img src="/images/author_picture.jpg" alt="">
                        </div>
                        <div class="post_author-info">
                            <h5>By: Val Art</h5>
                            <small>June 13 2024</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post_thumbail">
                    <img src="/images/post_picture.PNG" alt="">
                </div>
                <div class="post_info">
                    <a href="" class="cotegory_button">Wild Life</a>
                    <h3 class="post_title">
                        <a href="post.html">Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog</a>
                    </h3>
                    <p class="post_body">
                        Au cours des dernières années, nous avons écrit de nombreux articles sur la rédaction d’articles de blog, que ce soit pour trouver des idées ou optimiser les textes pour le SEO. Aujourd’hui, nous avons décidé d’aborder un autre type de rédaction: celle d’une page web. Comme il y a de fortes chances que vous avez à écrire le texte des pages de votre site web, laissez-nous vous donner quelques astuces pour créer du contenu à la fois pertinent et attrayant. 
                    </p>
                    <div class="post_author">
                        <div class="post_author-avatar">
                            <img src="/images/author_picture.jpg" alt="">
                        </div>
                        <div class="post_author-info">
                            <h5>By: Val Art</h5>
                            <small>June 13 2024</small>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
   
    <!-- ======================================  CATEGORIE DES BOUTTONS  =================================================== --> 
    <section class="category_buttons">
        <div class="container category_buttons-container">
            <a href="#" class="category_button">Art</a>
            <a href="#" class="category_button">Wild Life</a>
            <a href="#" class="category_button">Travel</a>
            <a href="#" class="category_button">Sciene & Technology</a>
            <a href="#" class="category_button">Food</a>
            <a href="#" class="category_button">Music</a>
        </div>
    </section>

   <!-- ======================================  FOOTER  =================================================== --> 
   <footer>
        <div class="footer_socials">
            <a href="http://youtube.com" target="_blank"><i class="uil uil-youtube" aria-hidden="true"></i></a>
            <a href="http://facebook.com" target="_blank"><i class="uil uil-facebook-f" aria-hidden="true"></i></a>
            <a href="http://instagram.com" target="_blank"><i class="uil uil-instagram-alt" aria-hidden="true"></i></a>
            <a href="http://linkedin.com" target="_blank"><i class="uil uil-linkedin" aria-hidden="true"></i></a>
            <a href="http://twitter.com" target="_blank"><i class="uil uil-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="container footer_container">
            <article>
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Wild Life</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Sciene & Technology</a></li>
                    <li><a href="#">Music</a></li>
                </ul>
            </article>
            <article>
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Online Support</a></li>
                    <li><a href="#">Call Numbers</a></li>
                    <li><a href="#">Emails</a></li>
                    <li><a href="#">Social Support</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Food</a></li>
                </ul>
            </article>
            <article>
                <h4>Blog</h4>
                <ul>
                    <li><a href="#">Safety</a></li>
                    <li><a href="#">Repair</a></li>
                    <li><a href="#">Recent</a></li>
                    <li><a href="#">Popular</a></li>
                    <li><a href="#">Categories</a></li>
                </ul>
            </article>
            <article>
                <h4>Permalinks</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </article>
        </div>
        <div class="footer_copyright">
            <small>Copyright &copy; 2024 Val.Art</small>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>